/* 
#id3 {
    height:auto;
    width:auto;
    background:red;
    
}


#id4 {
    height:200px;
    width:200px;
    background:red;
    font-size: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index:1000;
} */